{% extends 'header.html' %}

{% block body %}

<script src="{{ url_for('static',filename='js/jquery3.3.1.js') }}"></script>
<script type="text/javascript">
 $(document).ready(function($)
{
    var tbl = '';
    
    tbl +='<table class="table table-hover table-bordered" name = "textbox">'

        //--->create table header > start
        tbl +='<thead>';
            tbl +='<tr>';
            tbl +='<th>ID</th>';
            tbl +='<th>item</th>';
            tbl +='<th>description</th>';
            tbl +='<th>size</th>';
            tbl +='<th>amount</th>';
            tbl +='</tr>';
        tbl +='</thead>';

        tbl +='<tbody>';
               
                tbl +='<tr row_id="1">';
                    tbl +='<td contenteditable = "true" ><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></td></td><td contenteditable="true"><div class="row_data" edit_type="click"></td>';
                tbl +='</tr>';
            //--->create table body rows > end
       
        tbl +='</tbody>';
        //--->create table body > end

    tbl +='</table>'    
    //--->create data table > end

$('.tbl_user_data ').on('click', 'tr:last-child td:last-child', function (e) {
    alert("Last td clicked!");
    $(".tbl_user_data").each(function () {
       
        var tds = '<tr>';
        jQuery.each($('tr:last td', this), function () {
            tds += '<td contenteditable = "true"><div class="row_data" edit_type="click"></div></td>';
        });
        tds += '</tr>';
        if ($('tbody', this).length > 0) {
            $('tbody', this).append(tds);
        } else {
            $(this).append(tds);
        }
    });
});

$(document).find('.tbl_user_data').html(tbl);

$(document).on('click', '.row_data', function(event) 
    {
        event.preventDefault(); 

        if($(this).attr('edit_type') == 'button')
        {
            return false; 
        }

        //make div editable
        $(this).closest('div').attr('contenteditable', 'true');
        //add bg css
        $(this).addClass('bg-warning').css('padding','5px');

        $(this).focus();
    })  
});

function myFunction() {
   var TableData = new Array();
    $('.tbl_user_data tr').each(function(row, tr){
        TableData[row]={
             "ID": $(tr).find('td:eq(0)').text(),
             "item": $(tr).find('td:eq(1)').text(),
             "description": $(tr).find('td:eq(2)').text(),
             "size": $(tr).find('td:eq(3)').text(),
             "amount": $(tr).find('td:eq(4)').text()
        }    
    }); 
    TableData.shift();  // first row will be empty - so remove
  var Data;
  Data = JSON.stringify(TableData);

  $.ajax({
        url: "{{ url_for('sales_page') }}",
        type: 'POST',
        contentType: 'application/json',
        data: Data,
        dataType: 'json',
       
        
        success: function(response) {
            console.log(response);
            window.location.href =  "{{ url_for('sales_page') }}";
        },
        error: function(error) {
            console.log(error);
        }
    });
}
</script>
<form method="POST"> 
<div class="panel panel-default">
  <div class="panel-heading"><b> Sale </b> </div>

  <div class="panel-body">
    
    <div class="tbl_user_data"></div>

  </div>

</div>

<button type="button"  onclick="myFunction()" class="btn btn-primary" aria-label="Left Align"
            style="margin-top: 5px; margin-bottom: 5px; height: 44px; margin-right: 15px">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Save
</button>
 <button onclick="myFunction()" type="submit" name="submit" id = "submit">Submit</button>
</form>

<div class="container">
   <!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">add products</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
  <form action =  "{{ url_for('inventory')}}" method = "POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Name</label>
      <input type="text" name = "name" class="form-control" id="name" placeholder="Name" >
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Productid</label>
      <input type="text" name = "productid" class="form-control" id="productid" placeholder="123" value="{{ request.form.productid }}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
    <label for="inputAddress">Description</label>
    <input type="text" name= "desc" class="form-control" id="description" placeholder="flour 1kg" value="{{ request.form.desc }}">
  </div>
  <div class="form-group">
    <label for="inputAdd">size</label>
    <input type="text" name = "size" class="form-control" id="inputAccount" placeholder="sale" value="{{ request.form.size}}">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Account</label>
    <input type="text" name = "account" class="form-control" id="inputAccount" placeholder="sale" value="{{ request.form.account}}">
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputState">Category</label>
      <select name = "category" id="inputState" class="form-control">
        <option  value="shop" selected>shop</option>
        <option  value="cereal">cereal</option>
        <option value="service">service</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputCity">Price</label>
      <input type="text" name = "price" class="form-control" id="inputprice" value="{{ request.form.price }}">
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Cost</label>
      <input type="text" name = "cost"class="form-control" id="inputcost" value="{{ request.form.cost }}">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>      
</div>
</div>
</div>
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="defaultForm-email" class="form-control validate">
          <label for="defaultForm-email">Your email</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="defaultForm-pass" class="form-control validate">
          <label for="defaultForm-pass">Your password</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default" data-dismiss="modal">Login</button>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Launch Modal Login Form</a>
</div>
{% endblock %}
