{% extends 'header.html' %}

{% block body %}

<script src="{{ url_for('static',filename='js/jquery3.3.1.js') }}"></script>
<script type="text/javascript">
 $(document).ready(function($)
{
    var tbl = '';
    
    tbl +='<table class="table table-hover table-bordered" name = "textbox">'

        //--->create table header > start
        tbl +='<thead>';
            tbl +='<tr>';
            tbl +='<th>ID</th>';
            tbl +='<th>item</th>';
            tbl +='<th>description</th>';
            tbl +='<th>size</th>';
            tbl +='<th>amount</th>';
            tbl +='</tr>';
        tbl +='</thead>';

        tbl +='<tbody>';
               
                tbl +='<tr row_id="1">';
                    tbl +='<td contenteditable = "true" ><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></td></td><td contenteditable="true"><div class="row_data" edit_type="click"></td>';
                tbl +='</tr>';
                tbl +='<tr row_id="1">';
                    tbl +='<td contenteditable = "true" ><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></td></td><td contenteditable="true"><div class="row_data" edit_type="click"></td>';
                tbl +='</tr>';
                tbl +='<tr row_id="1">';
                    tbl +='<td contenteditable = "true" ><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></td></td><td contenteditable="true"><div class="row_data" edit_type="click"></td>';
                tbl +='</tr>';
                tbl +='<tr row_id="1">';
                    tbl +='<td contenteditable = "true" ><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></td></td><td contenteditable="true"><div class="row_data" edit_type="click"></td>';
                tbl +='</tr>';
                tbl +='<tr row_id="1">';
                    tbl +='<td contenteditable = "true" ><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></td></td><td contenteditable="true"><div class="row_data" edit_type="click"></td>';
                tbl +='</tr>';
                tbl +='<tr row_id="1">';
                    tbl +='<td contenteditable = "true" ><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></td></td><td contenteditable="true"><div class="row_data" edit_type="click"></td>';
                tbl +='</tr>';
            //--->create table body rows > end
       
        tbl +='</tbody>';
        //--->create table body > end

    tbl +='</table>'    
    //--->create data table > end

$('.tbl_user_data ').on('click', 'tr:last-child td:last-child', function (e) {
    alert("Last td clicked!");
    $(".tbl_user_data").each(function () {
       
        var tds = '<tr>';
        jQuery.each($('tr:last td', this), function () {
            tds += '<td contenteditable = "true"><div class="row_data" edit_type="click"></div></td>';
        });
        tds += '</tr>';
        if ($('tbody', this).length > 0) {
            $('tbody', this).append(tds);
        } else {
            $(this).append(tds);
        }
    });
});

$(document).find('.tbl_user_data').html(tbl);

$(document).on('click', '.row_data', function(event) 
    {
        event.preventDefault(); 

        if($(this).attr('edit_type') == 'button')
        {
            return false; 
        }

        //make div editable
        $(this).closest('div').attr('contenteditable', 'true');
        //add bg css
        $(this).addClass('bg-warning').css('padding','5px');

        $(this).focus();
    })  
});

function myFunction() {
   var TableData = new Array();
    $('.tbl_user_data tr').each(function(row, tr){
        TableData[row]={
             "ID": $(tr).find('td:eq(0)').text(),
             "item": $(tr).find('td:eq(1)').text(),
             "description": $(tr).find('td:eq(2)').text(),
             "size": $(tr).find('td:eq(3)').text(),
             "amount": $(tr).find('td:eq(4)').text()
        }    
    }); 
  TableData.shift();  // first row will be empty - so remove
  var Data;
  Data = JSON.stringify(TableData);
  

  $.ajax({
        url: "{{ url_for('sales_page') }}",
        type: 'POST',
        contentType: 'application/json',
        data: Data,
        dataType: 'json',
       
        
        success: function(response) {
            console.log(response);
            window.location.href =  "{{ url_for('sales_page') }}";
        },
        error: function(error) {
            console.log(error);
        }
    });
}
</script>
<form method="POST"> 
<div class="panel panel-default">
  <div class="panel-heading"><b> Sale </b> </div>

  <div class="panel-body">
    
    <div class="tbl_user_data"></div>

  </div>

</div>

<div class="text-right">
<button type="button"  onclick="myFunction()" class="btn btn-primary" aria-label="Left Align"
            style="margin-top: 5px; margin-bottom: 5px; height: 44px; margin-right: 15px">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Save
</button>

<!-- <button type="button"  onclick="myFunction()" class="btn btn-secondary" aria-label="Left Align"
            style="margin-top: 5px; margin-bottom: 5px; height: 44px; margin-right: 15px">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Cancle
</button> -->
</div>
</form>

<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
{% endblock %}
